.contacts {

    &__inner {
        padding: 100px 0 70px;

        @include media-width767 {
            padding: 50px 0;
        }

        @include media-width570 {
            padding: 30px 0;
        }
    }

    &__title {
        @include adaptive-font(18, 24);
        @extend %title-h2;
    }

    &__subtitle {
        @extend %subtitle;
        margin-bottom: 60px;
    }

    &__box-map {
        position: relative;
        flex-wrap: wrap;

        @include media-width992 {
            display: flex;
            justify-content: space-evenly;
            gap: 30px;
        }
    }

    &__box-map>img {
        position: absolute;
        top: 60px;
        right: 20px;
        z-index: 0;

        @include media-width992 {
            display: none;
        }
    }

    &__map {
        height: 463px;

        position: relative;
        z-index: 1;

        box-shadow: 0px 10px 24px 0px #6CB42A1C;

        @include media-width992 {
            flex: 1 0 100%;
        }
    }

    &__map>iframe {
        height: 100%;
        width: calc(100% - 50px);

        @include media-width992 {
            width: 100%;
        }
    }

    &__businesscard,
    &__address {
        position: absolute;
        z-index: 5;

        width: 320px;
        padding: 30px;
        line-height: 1.2;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 10px 0px #cbcbcb;

        &>li:nth-child(1) {
            margin-bottom: 15px;
        }

        @include media-width992 {
            position: relative;
            top: 0;

        }
    }

    &__businesscard {
        top: 90px;
        right: 0;

        &>li:nth-child(2) {
            margin-bottom: 30px;
        }

        @include media-width992 {
            position: relative;
            top: 0;
        }
    }

    &__address {
        bottom: -50px;
        right: 0;

        &>li>a {
            color: $btn-gradient-t;
            line-height: 1.5;
        }
    }
}